{% extends "layout.html" %}

{% block pagestyles %}
<!-- additional stuff like css only for about-->
{% endblock %}


{% block content %}

<div class="container pt-2 bg-white">
    <h2>About</h2>
    <hr>
    <p> This page was created mainly at the Hackathon <a href="https://digitalfestival.ch/en/HACK">HackZurich 2019</a>
    by two Tinder and data enthusiasts.
    It is supposed to provide Tinder users with an accessible tool to examine their usage and compare it to others. 
    We personally find this data very interesting.
    </p>
    <p> If you have any comments, suggestions, or features you would like to see in the future, consider opening an issue on GitHub.</p>
    <p>
    <a href="https://github.com/Marsll/explore-your-tinder/issues">Open an issue on GitHub!</a>
  </p>
</div>

{% endblock %}
