{% extends "layout.html" %}

{% block pagestyles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/file_upload.css') }}">
{% endblock %}


{% block content %}

<div class="container pt-2 bg-white border border-top-0 border-secondary">
  <h2>Analyze your tinder data</h2>
  <hr>
  <p> How many swipes have you accumulated since you first started using Tinder?
   And how many of the "right" swipes turn into matches?
   </p>
   <p> This website can answer these and many more interesting questions in the blink of an eye. 
  Simply request your data from Tinder following this </p>
  <p>
    <a href="https://account.gotinder.com/data">-- Link --</a>
  </p>
  <p>wait a few days and upload it here:</p>
  <hr>

  <form action="/"  method="post" enctype="multipart/form-data"> 
    <div class="form-group">
       <label for="file-upload" class="file-upload btn btn-block rounded-pill bg-pink text-white"><i class="fa fa-upload mr-2"></i>Browse for file ...</label>
      <input id="file-upload" type="file" name="file" class="form-control-file">
      <input class="btn btn-block rounded-pill" type="submit" value="Upload">
    </div>
  </form>
</div> 

{% endblock %}
