{% extends "layout.html" %}

{% block pagestyles %}
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='src/css/landing.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='src/css/dropzone_basic.css') }}">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='src/css/dropzone.css') }}" >
  <script src="{{ url_for('static',filename='src/js/dropzone.js') }}"></script>
  
  
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
       <form action="/" class="dropzone"  id="my-awesome-dropzone"></form>
    </div>
    <div class="col">
      <a href="{{ url_for('/dashapp/') }}">Submit</a>
    </div>
  </div>
</div> 

{% endblock %}
